<!DOCTYPE html>

<html ng-app>
  <head>
    {{<template "base/head.html" .>}}
    
    <script src="/static/js/sign.js"></script>
    <script src="/static/js/games.js"></script>
  </head>

  <body>
    {{<template "base/body.html" .>}}
    {{<template "sign.html" .>}}
    
    <div class="container" ng-controller='GameCtrl'>
      <div ng-hide="isHidden()">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div data-ng-repeat="game in gamedata.games" class="panel panel-default">
            <div class="panel-heading" role="tab" id="game_{{game.id}}">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_game_{{game.id}}" aria-expanded="false" aria-controls="collapse_game_{{game.id}}">
                  {{game.name}}
                </a>
              </h4>
            </div>
            <div id="collapse_game_{{game.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="game_{{game.id}}">
              <div class="panel-body">
                <div data-ng-repeat="descline in game.description">
                  <p>{{descline}}</p>
                </div>
                <div ng-if="!game.teamgame && !isPlayerInGame(gamedata.currentplayerid, game)">
                  <div class="btn-group" role="group" aria-label="add-player">
                    <button type="submit" class="btn btn-success" style="float: left;" ng-click='addPlayerToGame(gamedata.currentplayerid, game)'><b>S'ajouter à l'épreuve</b></button>
                  </div>
                </div>
                <div ng-if="!game.teamgame && isPlayerInGame(gamedata.currentplayerid, game)">
                  <div class="btn-group" role="group" aria-label="add-player">
                    <div class="input-group">
                      <label for="user" class="sr-only">Comment</label>
                      <input type="text" class="form-control" id="comment" name="comment" ng-model="game.players[gamedata.currentplayerid].comment">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button" ng-click='submitPlayerGameComment(gamedata.currentplayerid, game)'>Soumettre le commentaire</button>
                      </span>
                    </div>
                    <button type="submit" class="btn btn-warning" style="float: left;" ng-click='removePlayerFromGame(gamedata.currentplayerid, game)'><b>Se retirer l'épreuve</b></button>
                  </div>
                </div>
              </div>
              <div ng-if="!game.teamgame">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Mail</th>
                      <th>Prénom</th>
                      <th>Nom</th>
                      <th>Commentaire</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr data-ng-repeat="playerdata in game.players">
                      <th scope="row">{{$index + 1}}</th>
                      <td>{{getFirstName(playerdata.id)}}</td>
                      <td>{{getLastName(playerdata.id)}}</td>
                      <td>{{getMail(playerdata.id)}}</td>
                      <td>{{playerdata.comment}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
