<!DOCTYPE html>

<html ng-app>
  <head>
    {{<template "base/head.html" .>}}
    
    <script src="/static/js/sign.js"></script>
    <script src="/static/js/games.js"></script>
  </head>

  <body class="global-background">
    {{<template "base/body.html" .>}}
    {{<template "sign.html" .>}}

    <div class="container" ng-controller='GameCtrl'>
      <div ng-hide="isHidden()">
        <div class="panel panel-custom">
          <div class="panel-heading">
            <b>Informations personnelles</b>
          </div>
          <div class="panel-body">
            <div id="savetext" style="display:none;" ><p class="text-success-custom"><b>Informations sauvegardées</b></p></div>
            <div class="input-group hidden-xs">
              <span class="input-group-addon fill-custom">Prénom : </span>
              <input type="text" class="form-control border-custom" id="newFirstname" name="newFirstname" ng-model="gamedata.newFirstname"></input>
              <span class="input-group-addon fill-custom">Nom : </span>
              <input type="text" class="form-control border-custom" id="newLastname" name="newLastname" ng-model="gamedata.newLastname"></input>
              <span class="input-group-btn">
                <button class="btn btn-custom" type="button" ng-click='submitPlayerData(gamedata.currentplayerid, gamedata)'>Sauvegarder</button>
              </span>
            </div>
            <div class="visible-xs">
              <div class="input-group">
                <span class="input-group-addon fill-custom">Prénom : </span>
                <input type="text" class="form-control border-custom" id="newFirstname-xs" name="newFirstname" ng-model="gamedata.newFirstname"></input>
              </div>
              <p></p>
              <div class="input-group">
                <span class="input-group-addon fill-custom">Nom : &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="form-control border-custom" id="newLastname-xs" name="newLastname" ng-model="gamedata.newLastname"></input>
              </div>
              <p></p>
              <button class="btn btn-primary" type="button" ng-click='submitPlayerData(gamedata.currentplayerid, gamedata)'>Sauvegarder</button>
            </div>
          </div>
        </div>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div data-ng-repeat="game in gamedata.games" class="panel panel-{{getGameStyle(gamedata.currentplayerid, game)}}">
            <div class="panel-heading" role="tab" id="game_{{game.id}}" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_game_{{game.id}}">
              <div class="panel-title">
                <img  ng-if="game.teamgame" src="static/img/team-invert-icon.png" alt="team" width="20" height="20">
                <img  ng-if="!game.teamgame" src="static/img/indi-invert-icon.png" alt="solo" width="20" height="20">
                <a class="h4 collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_game_{{game.id}}" aria-expanded="false" aria-controls="collapse_game_{{game.id}}">
                  {{game.name}}
                </a>
                <span ng-if="game.teamgame" class="p" style="float: right; font-size: 0.9em;"><i>Equipes : {{game.teams.length}}</i></span>
                <span ng-if="!game.teamgame" class="p" style="float: right; font-size: 0.9em;"><i>Participants : {{game.players.length}}</i></span>
              </div>
            </div>
            <div id="collapse_game_{{game.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="game_{{game.id}}">
              <div class="panel-body">
                <div data-ng-repeat="descline in game.description">
                  <p>{{descline}}</p>
                </div>
                {{<template "base/individual_actions.html" .>}}
                {{<template "base/individual_table.html" .>}}
                {{<template "base/individual_forum.html" .>}}
                {{<template "base/teams.html" .>}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
