.border-custom {
  border-color: #a70036;
}

.background-custom {
  background-color: #a70036;
}

.text-custom {
  color: #a70036;
}

.text-success-custom {
  color: #0fb611;
}

.fill-custom {
  color: #fff;
  background-color: #a70036;
  border-color: #a70036;
}

.panel-custom {
  border-color: #a70036;
}
.panel-custom > .panel-heading {
  color: #fff;
  background-color: #a70036;
  border-color: #a70036;
}
.panel-custom > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #a70036;
}
.panel-custom > .panel-heading .badge {
  color: #a70036;
  background-color: #fff;
}
.panel-custom > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #a70036;
}


.btn-custom {
  color: #fff;
  background-color: #a70036;
  border-color: #a70036;
}
.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: #800028;
  border-color: #800028;
}
.btn-custom:hover {
  color: #fff;
  background-color: #800028;
  border-color: #800028;
}
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #fff;
  background-color: #800028;
  border-color: #800028;
}