<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>

<div class="jumbotron" style="background:#a70036">
    <div class="container">
    <h1 class="text-center" style="color:white">Bienvenue sur l'application CGI des Jeux de Sophia</h1>
    <h4 class="text-center" style="color:white">Les membres CGI sur Sophia Antipolis peuvent créer et s'organiser leur équipe et/ou indiquer leur participation aux différentes épreuves.</h4>
    <h4 class="text-center" style="color:white">Cette application ne remplace pas l'inscription sur le site des jeux de Sophia, elle permet de simplifier l'organisation entre les membres.</h4>
    </div>
</div>
