<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>

<div class="jumbotron jumbotron-custom">
    <div class="container">
        <h1 class="text-center hidden-xs" style="color:white; font-size: 3em;">Bienvenue sur l'application <i>"Bouge ton agence"</i></h1>
        <h1 class="text-center hidden-xs" style="color:white; font-size: 3em;">des Jeux de Sophia</h1>
        <h1 class="text-center visible-xs" style="color:white; font-size: 3em;">Bienvenu sur l'application <i>"Bouge ton agence"</i> des Jeux de Sophia</h1>
        <h2></h2>
        <h4 class="text-center" style="color:white">Cette application permet l'organisation des équipes et/ou participations aux épreuves entre les membres.</h4>
        <h4 class="text-center" style="color:white">Elle ne remplace pas l'inscription sur le site des jeux de Sophia.</h4>
    </div>
</div>
