<div ng-if="!game.teamgame" class="well background-custom">
  <p class="text-custom"><b>Forum</b></p>
  <div class="form-group well" data-ng-repeat="post in game.forum">
    <div ng-if='post.deletiondate == ""'>
      <div ng-if='getFirstName(post.playerid) != "" && getLastName(post.playerid) != "" '>
        <p><b>{{getFirstName(post.playerid)}} {{getLastName(post.playerid)}}</b> a posté le {{post.creationdate}}</p>
      </div>
      <div ng-if='getFirstName(post.playerid) == "" || getLastName(post.playerid) == "" '>
        <p><b>{{getMail(post.playerid)}}</b> a posté le {{post.creationdate}}</p>
      </div>
      <div ng-if='post.modificationdate != ""'>
          <p><i>Modifié le {{post.modificationdate}}</i></p>
      </div>
      <div ng-if='gamedata.currentplayerid != post.playerid'>
        <textarea class="form-control" rows="5" disabled>{{post.content}}</textarea>
      </div>
      <div ng-if='gamedata.currentplayerid == post.playerid'>
        <textarea class="form-control" rows="5" ng-model="post.content"></textarea>
        <p></p>
        <div>
          <button class="btn btn-custom" type="button" ng-click='submitGameModifyPost(game.id, post.id, post.content, gamedata.currentplayerid)'>Modifier</button>
          <button class="btn btn-danger" type="button" ng-click='submitGameDeletePost(game.id, post.id, gamedata.currentplayerid)'>Supprimer</button>    
        </div>
      </div>
    </div>
    <div ng-if='post.deletiondate != ""'>
      <i>Post supprimé le {{post.deletiondate}}</i>
      <div ng-if='gamedata.currentplayerid == post.playerid'>
        <p></p>
        <button class="btn btn-custom" type="button" ng-click='restoreGamePost(game.id, post.id, gamedata.currentplayerid)'>Restaurer</button>
      </div>
    </div>
  </div>
  <div class="form-group well background-custom2">
    <label class="text-custom2" for="game_{{game.id}}_new_post">Nouveau post :</label>
    <textarea class="form-control" rows="5" id="game_{{game.id}}_new_post" ng-model="game.newpost"></textarea>
    <p></p>
    <button class="btn btn-custom2" type="button" ng-click='submitGameNewPost(game.id, game.newpost, gamedata.currentplayerid)'>Soumettre le post</button>
  </div>
</div>
<div>&nbsp;</div>
