<div ng-if="!game.teamgame && !isPlayerInGame(gamedata.currentplayerid, game)">
  <div class="btn-group" role="group" aria-label="add-player">
    <button type="submit" class="btn btn-success" style="float: left;" ng-click='addPlayerToGame(gamedata.currentplayerid, game)'><b>Participer à l'épreuve</b></button>
  </div>
</div>
<div ng-if="!game.teamgame && isPlayerInGame(gamedata.currentplayerid, game)">
  <div class="input-group hidden-xs">
    <input type="text" class="form-control" id="comment" name="comment" ng-model="getPlayerInGame(gamedata.currentplayerid, game).newComment"></input>
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-click='submitPlayerGameComment(gamedata.currentplayerid, game)'>Soumettre le commentaire</button>
    </span>
  </div>
  <div class="visible-xs">
    <input type="text" class="form-control col-xs-12" id="comment" name="comment" ng-model="getPlayerInGame(gamedata.currentplayerid, game).newComment"></input>
    <button class="btn btn-primary col-xs-12" type="button" ng-click='submitPlayerGameComment(gamedata.currentplayerid, game)'>Soumettre le commentaire</button>
  </div>
  <div>&nbsp;</div>
  <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapse_game_remove_{{game.id}}">
    Se retirer de l'épreuve
  </button>
  <div class="collapse row" id="collapse_game_remove_{{game.id}}">
    <div class="well">
      <p>Est-ce vous sûr(e) de vouloir abandonner l'épreuve ?</p>
      <button type="submit" class="btn btn-danger" ng-click='removePlayerFromGame(gamedata.currentplayerid, game)'><b>Oui</b></button>
      <button type="submit" class="btn btn-secondary" data-toggle="collapse" data-target="#collapse_game_remove_{{game.id}}"><b>Non</b></button>
    </div>
  </div>
</div>