<div ng-if="!isPlayerInTeam(gamedata.currentplayerid, teamid)">
  <div class="btn-group" role="group" aria-label="add-player">
    <button type="submit" class="btn btn-success" style="float: left;" ng-click='addPlayerToTeam(gamedata.currentplayerid, teamid)'><b>S'ajouter dans l'équipe</b></button>
  </div>
</div>
<div ng-if="isPlayerInTeam(gamedata.currentplayerid, teamid)">
    <div class="input-group hidden-xs">
      <input type="text" class="form-control" id="comment_{{teamid}}" name="comment" ng-model="getPlayerInTeam(gamedata.currentplayerid, teamid).newComment"></input>
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" ng-click='submitPlayerTeamComment(gamedata.currentplayerid, teamid)'>Soumettre le commentaire</button>
      </span>
    </div>
    <div class="visible-xs">
      <input type="text" class="form-control col-xs-12" id="comment_xs_{{teamid}}" name="comment" ng-model="getPlayerInTeam(gamedata.currentplayerid, teamid).newComment"></input>
      <button class="btn btn-primary col-xs-12" type="button" ng-click='submitPlayerTeamComment(gamedata.currentplayerid, teamid)'>Soumettre le commentaire</button>
    </div>
    <div>&nbsp;</div>
    <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapse_teamgame_remove_{{teamid}}">
      Se retirer de l'équipe
    </button>
    <div class="collapse" id="collapse_teamgame_remove_{{teamid}}">
      <p></p>
      <div class="well">
        <p>Est-ce vous sûr(e) de vouloir quitter l'équipe ?</p>
        <button type="submit" class="btn btn-danger" ng-click='removePlayerFromTeam(gamedata.currentplayerid, teamid)'><b>Oui</b></button>
        <button type="submit" class="btn btn-secondary" data-toggle="collapse" data-target="#collapse_teamgame_remove_{{teamid}}"><b>Non</b></button>
      </div>
    </div>
</div>