<div ng-if="getTeam(teamid).managerid === gamedata.currentplayerid">

  <button class="btn btn-custom" type="button" data-toggle="collapse" data-target="#collapse_management_team_{{teamid}}" aria-expanded="false" aria-controls="collapse_management_team_{{teamid}}">
    Administration de l'équipe
  </button>
  <div class="collapse" id="collapse_management_team_{{teamid}}">
    <div class="well background-custom">
      <div class="input-group hidden-xs">
        <input type="text" class="form-control border-custom" id="team" name="team" ng-model="getTeam(teamid).newName"></input>
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" ng-click='changeTeamName(teamid, getTeam(teamid).newName, gamedata.currentplayerid)'>Changer le nom de l'équipe</button>
        </span>
      </div>
      <div class="visible-xs">
        <input type="text" class="form-control border-custom col-xs-12" id="team" name="team" ng-model="getTeam(teamid).newName"></input>
        <button class="btn btn-primary col-xs-12" type="button" ng-click='changeTeamName(teamid, getTeam(teamid).newName, gamedata.currentplayerid)'>Changer le nom de l'équipe</button>
      </div>
      <div>&nbsp;</div>
      <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#collapse_team_remove_{{teamid}}" aria-expanded="false" aria-controls="collapse_team_remove_{{teamid}}">
        Supprimer l'équipe
      </button>
      <div class="collapse" id="collapse_team_remove_{{teamid}}">
        <p></p>
        <div class="well">
          <p>Est-ce vous sûr(e) de vouloir supprimer l'équipe</p>
          <button type="submit" class="btn btn-danger" ng-click='removeTeamFromGame(teamid, gamedata.currentplayerid, game)'><b>Oui</b></button>
          <button type="submit" class="btn btn-secondary" data-toggle="collapse" data-target="#collapse_team_remove_{{teamid}}"><b>Non</b></button>
        </div>
      </div>
    </div>
  </div>
  <div>&nbsp;</div>
</div>
